#root {
  margin: 0 auto;
  text-align: center;
  --easy: #E5FCF5;
  --medium: #FFFBDB;
  --hard: #CDC7E5;
}

.title {
  color: #646cff;
}

.title h3 {
  color: gray;
}

.card {
  background: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
  border-radius: 2rem;
  transition: 0.3s;
  padding: 1rem;
  width: 90vw;
  max-width: 50rem;
  margin: 2rem 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  perspective: 1000px;
}

.flip {
  transform: rotateX(180deg);
}

.level {
  display: flex;
  align-items: center;
  font-size: .875rem;
}

.level-indicator {
  height: .875rem;
  width: .875rem; 
  border-radius: 100%;
  margin: 0 1rem;
}

.easy {
  background-color: var(--easy);
}

.medium {
  background-color: var(--medium);
}

.hard {
  background-color: var(--hard);
}

.card-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
  backface-visibility: hidden;
}

.card img {
  max-height: 10rem;
}

.back {
  transform: rotateX(180deg);
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

